@import url('https://fonts.googleapis.com/css?family=Electrolize|Orbitron|Unica+One');

.App {
  text-align: center;
  background-color: #b00000;
  height: 100vh;
  width: 100vw
}
.stopwatch_container{
  height:400px;
  width:400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 24px;
}
.icon_title_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.stopwatch{
  height: 100px;
}
.title{
font-size: 40px;
margin: 10px 0;
font-family: 'Orbitron', sans-serif;
font-family: 'Unica One', cursive;
font-family: 'Electrolize', sans-serif;
line-height: 30px;
}

.time{
  border-style: solid;
  border-color: black;
  /* border-radius: 50%; */
  border-width: 2px;
  height: 80px;
  width: 180px;
  margin: 0 auto;
  line-height: 78px;
  font-size: 30px;
  margin-bottom: 34px;
  margin-top: 30px;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.5);
}



button{
  outline:none;
  height: 35px;
  width: 90px;
  border-radius: 7px;
  font-size: 20px;
  margin: 5px;
  font-family: 'Electrolize', sans-serif;
  box-shadow: 0 5px 10px -5px rgba(0,0,0,.5);
  color: black
}

button:hover{
  cursor:pointer
}


.start:disabled{
  box-shadow: 0 0 4pt 1pt green;

}
.stop:disabled{
  /* outline-color: red; */
  box-shadow: 0 0 4pt 1pt red;
}
.clear:disabled{
  outline-color: black;
  box-shadow: 0 0 4pt 1pt black;}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
